In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
data = pd.DataFrame({'Car_Manufacturer' : ['Toyota', 'Ford', 'Ford', 'Mercedes', 'Ford']})
data

  Car_Manufacturer
0           Toyota
1             Ford
2             Ford
3         Mercedes
4             Ford

In [3]:
data['Car_Manufacturer'] = pd.factorize(data['Car_Manufacturer'])[0]

In [4]:
data

   Car_Manufacturer
0                 0
1                 1
2                 1
3                 2
4                 1