In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame({'Exam_Grade' : ['A', 'B', 'A', 'C', 'A']})
data

  Exam_Grade
0          A
1          B
2          A
3          C
4          A

In [3]:
mapping = {'A' : 5, 'B' : 4, 'C' : 3, 'D' : 2, 'F' : 1}

In [4]:
data['Exam_Grade'] = data['Exam_Grade'].map(mapping)

In [5]:
data

   Exam_Grade
0           5
1           4
2           5
3           3
4           5