In [1]:
import pandas as pd

# pip install category_encoders
import category_encoders as ce

In [2]:
data = pd.DataFrame({'State' : ['CA', 'NY', 'CA', 'TX', 'TX', 'NY', "NY"],
                     'Income' : [70000, 64000, 72000, 59000, 57000, 67000, 62000]})
data

  State  Income
0    CA   70000
1    NY   64000
2    CA   72000
3    TX   59000
4    TX   57000
5    NY   67000
6    NY   62000

In [3]:
encoder = ce.target_encoder.TargetEncoder(cols=['State'])
encoder.fit(data['State'], data['Income']);

In [4]:
data['State'] = encoder.transform(data['State'])

In [5]:
data['State'] = data['State'].round() # rounding for simplification
data

     State  Income
0  69233.0   70000
1  64345.0   64000
2  69233.0   72000
3  59729.0   59000
4  59729.0   57000
5  64345.0   67000
6  64345.0   62000